@charset "utf-8";
/*設定版面區塊且置中*/
#contents{
    width: 960px;
    margin: 0px auto;
    padding: 40px 80px;
    border: 1px solid #471db9;
    background-color: rgb(184, 210, 248);
}

/*視窗背景色設定*/
body {
    background-image: url(../img/1.png);
    background-attachment:fixed ;
}

/*連結顏色設定*/
a {
    color: rgb(139, 30, 167);
}

/*頁首,導覽,頁尾的共通設定*/


.menu li{
    list-style-type: none;
    display: inline-block;
    width: 120px;
    background-color: #f3f8ab;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #FFF;
    border: 1px solid rgb(179, 179, 255);
}
.menu a{
    display: inline-block;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(227, 241, 175);
    text-decoration:none ;
}
 .menu a:hover{
    background-color: #b6cdf0;
    color: #07503e;
 }

/*導覽樣式設定*/


/*頁面標題設定*/

h1 {
    background-color: rgba(240, 241, 143, 0.918);
    color: darkslategrey;
    width: 50%;
    padding: 20px;
    margin: 40px auto;
    text-align: center;
    font-size: 2.5em;
    border: #FFF double 10px;
    border-radius: 50px;
    box-shadow: 5px 5px 10px;
    text-shadow: 50px;
}

/*次標題設定*/
h2 {
    padding: 10px;
    margin: auto;
    border-left : #FFF solid 10px;
    color: rgb(33, 9, 121);
}

/*小標題設定*/
.h-sub{
    padding: 10px;
    background-color: rgb(241, 233, 184);
    color: darkslategrey;
    border-radius: 10px ;
    box-shadow: 0 0 5px 2px #f7c08c inset;
    width: 50%;
}

/*內容區塊邊框設定*/


/*「更多介紹」連結設定*/


/*連結圖示設定*/


/*區塊間分隔*/


/*文繞圖設定*/
.imgL{
    float: left;
    margin-left: 20px;
}
.imgR{
    float: right;
    margin-right: 20px;

}
.clear{
    clear: both;
}
/*圓形圖片設定*/

/*寵物圖片設定*/
.photo{
    width: 480px;
    height: 350px;
}
.photo2{
    border-radius:200px ;
}